In [1]:
from kfit import models, tools
import pandas as pd

f = tools.get_data_source()
tools.to_df(f, index_col='pressure')

,I,II,III,IV,V,VI,unk1
pressure,,,,,,,
0.00,135.282673,142.225710,152.192981,162.276806,213.736617,236.873008,NaN
1.60,137.391367,144.510517,154.591360,163.998863,217.650729,241.124961,NaN
4.00,136.431751,145.129851,155.440194,164.671777,220.096600,244.230802,NaN
7.25,138.906329,147.427311,159.428372,167.282306,225.689766,250.153919,265.456267
10.00,139.224428,149.397207,162.159290,169.316290,229.749714,253.648097,263.705080
11.30,139.418199,149.912994,163.492389,170.106005,232.812371,255.394946,267.460379